@import '../mixins/flexbox';
@import '../variables';

.modal {
  @include flexbox(column);

  padding: 1rem;
  border: 1px solid $border-color;

  min-width: 400px;
  min-height: calc(100vh - 250px);
  min-height: 300px;
  background-color: $bg-content;
  border-radius: 5px;
}