@import '../functions';
@import '../variables';
@import '../mixins/flexbox';

.inputForm {
  border: 1px solid #ccc;
  @include flexbox();
  margin: 5px;
  span {
    margin-right: 10px;
  }
}

.button {
  padding: .5rem 1.5rem;
  margin: .5rem;
  background-color: colors(secondary);
  border: 1px solid #006d5f;
}