@import '../mixins/flexbox';
@import '../variables';
@import '../functions';

.cardHeader {
  @include flexbox(); 
  justify-content: space-between;
  padding: .5rem .8rem;
}

.cardQuestion {
  flex: 1;
  @include flexbox(); 
  justify-content: center;
  align-items: center;
  padding: 2rem .5rem;
  font-weight: bold;
}

.cardAnswers {
  flex: 2;
  @include flexbox(column); 
  justify-content: center;

  button {
    font-size: 1rem;
    padding: .5rem 2rem;
    margin: .5rem 0;
    background-color: colors(secondary);
    color: #fff;
    border: 1px solid colors(secondary);
    border-radius: 5px;
  }
}