.justifyContentCenter{
  justify-content: center;
}

.justifyContentSpaceBetween{
  justify-content: space-between;
}

.alignItemsCenter{
  align-items: center;
}

.alignItemsStretch{
  align-items: stretch;
}
