
$theme-colors: (
	primary: #6358EA,
	secondary: #01AD97,
	// success: #4ca55c,
	// info: #3a638e,
	// warning: #d3b23b,
	// error: #c53434,
	// light: #f8f9fa,
	// dark: #282f3a,
	// default: #f1f1f1,
	// default-dark: #434A54
);


// General layout
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-size: .8rem;
$bg-content: #fff;
$margin-content: .5rem;
$padding-content: .5rem;

// General border
$border-color: map-get($theme-colors, primary);
